<div class="todo-card-date-container">
    <div class="date-today">
        <span>{{currentDate | date:'EEEE' | uppercase}}</span>
    </div>
    <div class="date-container">
        <div class="date-month-year-container">
            <div class="date-month">
                <span>{{currentDate | date:'MMM'}}</span>
            </div>
            <div class="date-year">
                <span>{{currentDate | date:'yyyy'}}</span>
            </div>
        </div>
        <div class="date-day">
            <p>{{currentDate | date:'dd'}}</p>
        </div>
    </div>
</div>